

<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Blábot – České Lorem ipsum<{% endblock %}</title>
        <style>
            body {
                font-family: Georgia, 'Times New Roman', Times, serif;
                text-align: center;
            }
            img {
                max-width: 100%;
            }
            h1 {
                font-weight: 400;
            }
            a {
                color: #dc4f52;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
            .content {
                max-width: 34em;
                margin: 0 auto;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
